/.remote-sync.json

# IDE
/.vscode/*
!/.vscode/settings.json
!/.vscode/extensions.json
!/.vscode/sftp.json.example

# Composer
/vendor/

# PHPUnit
/.phpunit.result.cache

# PHP-cs-fixer
/.php-cs-fixer.cache