parameters:
    level: 5
    paths:
        - modules/php
    excludePaths:
        - vendor
        - modules/php/material.inc.php
        - modules/php/PHPStan
    scanFiles:
        - _ide_helper.php
        - tests/Stubs/BgaFrameworkStubs.php
    ignoreErrors:
        - 
            identifier: method.notFound
            path: modules/php/Game.php
            message: '*getStatTypes*'

services:
    -
        class: Bga\Games\diceforge\PHPStan\EnforceDbWrapperRule
        tags:
            - phpstan.rules.rule